[Unit]
Description={name}
After=network.target

[Service]
Type=simple
User={user}
Group={user}
WorkingDirectory=/opt/{name}/application
Environment=PYTHONPATH={runtime_path}:/opt/{name}/application
EnvironmentFile=-/etc/{name}/{name}.env
ExecStart={args}
StateDirectory={name}
StateDirectoryMode=0750
UMask=0027
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/lib/{name}
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
